<div class="sign-in-container">
  <div class="signin-big"></div>
  <h1>Sign In</h1>
  <div id="auth-buttons">
    <a href="/auth/facebook/" class="button facebook"><div class="facebook-icon"></div>Sign in with Facebook</a>
    <a href="/auth/twitter/" class="button twitter"><div class="twitter-icon"></div>Sign in with Twitter</a>
  </div>
  <div id="sign-in-form">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <ul class="form unstyled">
        <li>
          <div class="email"></div>
          <%= f.text_field :email, :placeholder => "Email", :size => "53", :maxlength => "255", :autocomplete => "off" %>
        </li>
        <li>
          <div class="password"></div>
          <%= f.password_field :password, :placeholder => "Password", :size => "53", :maxlength => "30", :autocomplete => "off" %>
        </li>
      </ul>
      <span class="button sign-in-button">
        <div class="key"></div>
        <%= f.submit "Sign in" %>
      </span>
    <% end %>
    <%= link_to "Don't have an account?", signup_path, :class => "account" %>
  </div>
</div>