<div class="left-container">
  <div class="update-profile-header">Edit Your Account</div>

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="update-profile-field">
        <%= f.label :username %>
        <%= f.text_field :username, :maxlength => 30 %>
      </div>

      <div class="update-profile-textfield">
        <%= f.label :bio %>
        <%= f.text_area :bio, :cols => "30", :rows => "10", :maxlength => 155 %>
      </div>

      <div class="update-profile-field">
      <%= f.label :email %>
      <%= f.text_field :email, :maxlength => 155 %>
      </div>

      <div class="update-profile-field">
      <%= f.label :password %>
      <%= f.password_field :password, :maxlength => 155 %>
      </div>

      <div class="update-profile-field">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, :maxlength => 155 %>
      </div>

      <div class="update-profile-field update-profile-notify">
      <%= f.label "Send me an email" %>
      <div><%= f.check_box :notify_follow %> when someone follows me</div>
      <div><%= f.check_box :notify_comment %> when someone comments on my video </div>
      <!--<div><%= f.check_box :notify_post_available %> when someone follows me</div> -->
      </div>

      <div class="update-profile-buttons">
      <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

</div>