<div class="left-container">
	<div class="user-list-header">Suggested People</div>

<% @users.each do |u| %>
	<ul class="unstyled user-listing">
		<li class="user-name"><%= link_to u.username, u %><span><%= u.points %></span></li>
		<li class="user-description"><%= u.bio %></li>
		<% unless u.videos.first.nil? %>
		<li class="user-video">Current video: <%= link_to u.videos.first.title, u.videos.first %></li>
		<% end %>
		<% if signed_in? %>
			<div class="user-follow">
				<% @user = u %>
				<%= render 'users/follow_form' %>
			</div>
		<% end %>

	</ul>
<% end %>

</div>