<% logo = image_tag("logo_new_2_big.png", :alt => "Paint the Town", :class => "logo") %>

<div class="sign-in-container">

<%= link_to logo, root_path %>

<div>
  <div>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <img src="<%= @user_image %>" />
      <%= f.label "Username" %>
      <%= f.text_field :username, :value => @nickname %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <p><%= session[:omniauth] %></p>

      <% unless session[:omniauth] %>
        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
      <% end %>
      <br />
      <%= f.submit "Create my account", class: "sign-in-btn btn btn-large" %>
    <% end %>

    <p>Already a user? <%= link_to "Sign in now!", signin_path %></p>

  </div>
</div>

</div>