<% logo = image_tag("logo-big.png", :alt => "Paint the Town", :class => "logo") %>

<div class="sign-in-container">

<%= logo %>

<div>
  <div>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <br />
      <%= f.submit "Create my account", class: "sign-in-btn btn btn-large" %>
    <% end %>

    <p>Already a user? <%= link_to "Sign in now!", signin_path %></p>

  </div>
</div>

</div>