<% @user.image == nil ? image = "/assets/default-big.png" : image = @user.image_big %>

<div class="left-container">
	<div class="user">
		<div id="image" class="floatleft">
			<a href="<%= image %>"><img src="<%= image %>" title="<%= @user.username %>" /></a>
		</div>
		<div class="user-info floatleft">
			<h1><%= @user.username %></h1>
			<p><%= @user.bio %></p>
			<% if @user.has_facebook?.present? %>
				<a href="https://www.facebook.com/<%= @user.facebook_uid %>" target="_blank"><div class="facebook"></div></a>
			<% end %>
			<% if @user.has_twitter?.present? %>
				<a href="https://twitter.com/account/redirect_by_id?id=<%= @user.twitter_uid %>" target="_blank"><div class="twitter"></div></a>
			<% end %>
			<div class="follow-wrapper">
				<% if signed_in? %>
					<%= render 'users/follow_form' %>
					<% if current_user?(@user) %>
						<div class="button">
							<a href="<%= edit_user_path(current_user) %>"><div class="edit"></div>Edit Profile</a>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="results">
		<% if @feed_items.empty? && current_user == @user %>
			<div style="font-size: 20px; text-align: center; margin: 37px; line-height: 29px;">You haven't posted any videos yet. <br /><a href="<%= post_path %>" style="font-size: 25px">Make your first post</a>.</div>
		<% elsif @feed_items.empty? %>
			<div style="font-size: 20px; text-align: center; margin: 37px; line-height: 29px;"><%= @user.username %> hasn't posted any videos yet. <br />What's up with that?</div>
		<% else %>
			<%= render 'shared/feed' %>
		<% end %>
	</div>

</div>

<div class="right-container">
	<%= render 'shared/playlist' %>
	<%= render 'shared/stats' %>
</div>
