<div class="left-container">
	<div class="follow-header"><%= @user.username %>'s <%= @user.followers.count %> <%= @title %></div>

<% @users.each do |u| %>
	<ul class="unstyled user-listing">
		<li class="user-name"><%= link_to u.username, u %><span><%= u.points %></span></li>
		<li class="user-description">Joined about <%= time_ago_in_words(u.created_at) %> ago</li>
		<% unless u.videos.first.nil? %>
		<li class="user-video">Current video: <%= link_to u.videos.first.title, u.videos.first %></li>
		<% end %>
	</ul>
<% end %>

</div>