<div class="left-container">

<div class="video-feed-header">Videos from <%= @user.username %></div>
<%= render 'shared/feed' %>

</div>


<div class="right-container">

	<div class="user-video-container">
		<div class="user-video-header"><%= @user.username %> <span><%= @user.points %></span></div>
		<p><%= @user.bio %></p>
		<% if signed_in? %>
			<div class="user-follow"><%= render 'users/follow_form' %></div>
		<% end %>
	
	</div>

	<div class="stats-container">
		<div class="stats-header"><%= @user.username %>'s Stats</div>
		<ul class="list-stats unstyled">
			<li class="list-points"><a href="<%= user_path(@user) %>"><%= @user.points %> total points</a></li>
			<li class="list-followers"><a href="<%= followers_user_path(@user) %>"><%= @user.followers.count %> followers</a></li>
			<li class="list-following"><a href="<%= following_user_path(@user) %>"><%= @user.following.count %> following</a></li>
	</div>
	
</div>
