<div class="left-container">
  <div class="new-track">
  <h1>Update your track</h1>
  <a href="<%= root_path %>">&#8249;&#8249;Back</a>
  <% if @video.errors.any? %>
    <div class="alert">
      <ul class="error-list unstyled">
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="player">
    <iframe title='YouTube video player' width='620' height='340' src='http://www.youtube.com/embed/<%= @video.youtube_id %>?wmode=opaque' frameborder='0' allowfullscreen></iframe>
  </div>
  <%= form_for(@video) do |f| %>
    <ul class="form unstyled">
      <li>
        <div class="title"></div>
        <%= f.text_field :title, :placeholder => "Title", :value => @video.title, :class=> "image-round-3", :size => "53", :maxlength => "30", :autocomplete => "off" %>
      </li>
      <li>
        <div class="comment"></div>
        <%= f.text_field :description, :placeholder => "Comment", :value => @video.description, :class=> "image-round-3", :size => "53", :maxlength => "255", :autocomplete => "off" %>
      </li>
    </ul>
    <span class="button post-button floatright">
      <div class="post"></div>
      <%= f.submit "Update" %>
    </span>
  <% end %>
  <%= link_to "Delete", @video, :confirm => 'Are you sure you want to delete this track?', :method => :delete %>
  </div>
</div>