<h2>Configure your shit</h2>

<h4>Create form</h4>
<br />
<br />

<img src="<%= @video_image_url[1].url %>" />
<p><%= @vids.video_id.split(":").last %></p>

<%= form_for(@video) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :size => "100", :value => @vids.title %><br />
  <%= f.label :description %>
  <%= f.text_area :description, :size => "60x12", :value => @vids.description %><br />
  <%= f.label :user_id %>
  <%= f.text_field :user_id, :value => "2" %><br />
  <%= f.label :duration %>
  <%= f.text_field :duration, :value => @vids.duration %><br />
  <%= f.label :youtube_view_count %>
  <%= f.text_field :youtube_view_count, :value => @vids.view_count %><br />

  <%= f.submit "Create" %>
<% end %>