
<div class="left-container">
  <div class="new-video-header">Configure your video</div>
  <div class="new-video-preview">
    <iframe title='YouTube video player' width='560' height='315' src='http://www.youtube.com/embed/<%= @vids.video_id.split(":").last %>?wmode=opaque' frameborder='0' allowfullscreen></iframe>
  </div>

  <%= form_for(@video) do |f| %>
    <div class="new-video-title">
      <%= f.label :title %>
      <%= f.text_field :title, :size => "100", :value => @vids.title %>
    </div>
    <div class="new-video-description">
      <%= f.label :description %>
      <%= f.text_area :description, :size => "60x12", :value => @vids.description %>
      <%= f.hidden_field :youtube_id, :value => @vids.video_id.split(":").last %>
    </div>
    <div class="new-video-buttons">
      <input class="btn new-video-back" type="button" value="Back" onclick="window.location.href='/post?s=<%= params[:s] %>'"> 
      <%= f.submit "Post", :class => "btn-primary new-video-submit" %>
    </div>
  <% end %>



</div>