<script type="text/javascript">
  $("document").ready( function() {
    var has_facebook = "<%= current_user.has_facebook?.present? %>";
    var has_twitter = "<%= current_user.has_twitter?.present? %>";
    if (has_facebook == "false") {
      $("#connect-facebook").show();
      $("#share-facebook").attr('disabled','disabled');
      $("#facebook").css('color','#999');
    }
    else {
      //$("#share-facebook").attr('checked','checked');
    }
    if (has_twitter == "false") {
      $("#connect-twitter").show();
      $("#share-twitter").attr('disabled','disabled');
      $("#twitter").css('color','#999');
    }
    else {
      //$("#share-twitter").attr('checked','checked');
    }



    var title = '<%= raw @vid.title %>';
    //alert(title);
    title = title.toLowerCase().replace(/\b[a-z]/g, function(letter) {
      return letter.toUpperCase();
    });
    title = title.replace(/ *\[[^)]*\] */g, "").replace(/ *\([^)]*\) */g, "");
    var splitTitle = title.split(/[,-]+/);
    //var splitTitle = title.split("Ft.","-");
    //alert(splitTitle.length);
    if (splitTitle.length > 1){
      $("#artist").val(splitTitle[0].trim());
      $("#title").val(splitTitle[1].trim());
    }

  });
</script>

<div class="left-container">
  <div class="new-track">
    <h1>Preview and Post</h1>
    <h2><%= @vid.title %></h2>
    <a href="<%= root_path %>">&#8249;&#8249;Back</a>
    <% if @video.errors.any? %>
      <div class="alert">
        <ul class="error-list unstyled">
        <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="player">
      <iframe title='YouTube video player' width='620' height='340' src='http://www.youtube.com/embed/<%= @vid.video_id.split(":").last %>?wmode=opaque' frameborder='0' allowfullscreen></iframe>
    </div>
    <%= form_for(@video) do |f| %>
      <ul class="form unstyled">
        <li>
          <div class="artist"></div>
          <%= f.text_field :artist_name, :placeholder => "Artist", :class=> "image-round-3", :id => "artist", :size => "53", :maxlength => "155", :autocomplete => "off" %>
        </li>
        <li>
          <div class="title"></div>
          <%= f.text_field :title, :placeholder => "Title", :class=> "image-round-3", :id => "title", :size => "53", :maxlength => "155", :autocomplete => "off" %>
        </li>
        <li>
          <div class="comment"></div>
          <%= f.text_field :description, :placeholder => "Comment", :class=> "image-round-3", :size => "53", :maxlength => "255", :autocomplete => "off" %>
          <%= f.hidden_field :youtube_id, :value => @vid.video_id.split(":").last %>
          <%= f.hidden_field :duration, :value => @vid.duration %>
        </li>
      </ul>
      <div class="share">
        <div id="facebook">
          <%= f.check_box :share_facebook, :id => "share-facebook" %>
          <div class="facebook"></div>
          <%= f.label :share_facebook, "Share on Facebook" %><a href="/auth/facebook" id="connect-facebook" style="display:none;" target="_blank">Connect account</a>
        </div>
        <div id="twitter">
          <%= f.check_box :share_twitter, :id => "share-twitter" %>
          <div class="twitter"></div>
          <%= f.label :share_twitter, "Share on Twitter" %><a href="/auth/twitter" id="connect-twitter" style="display:none;" target="_blank">Connect account</a>
        </div>
      </div>
      <span class="button post-button floatright">
        <div class="post"></div>
        <%= f.submit "Post" %>
      </span>
    <% end %>
  </div>
</div>