<%= form_tag(search_path, :method => "get") do %>
  <%= label_tag(:s, "Search for:") %>
  <%= text_field_tag(:s) %>
  <%= submit_tag("Search") %>
<% end %>

<% @vids.videos.size.times do |i| %>

<a href="/videos/new?v=<%= @video_id[i].split(":").last %>"><h3><%= @video_titles[i] %></h3></a>
<a href="<%= @video_url[i] %>" target="_blank"><h3><img src="<%= @video_image_url[i].collect {|v| v.url}[0] %>" /></h3></a>
<h3><%= @video_id[i].split(":").last %></h3>

<% end %>
