<% content_for :head do  %>
	<%= render :partial => 'layouts/fb_ogo' %>
<% end %>

<div class="left-container">
	<div class="video-main">
		<div class="video-header">
			<p class="name"><%= link_to @video.title, "http://www.youtube.com/watch?v=#{@video.youtube_id}", :target => '_blank' %></p>
			<p class="created-at"><%= time_ago_in_words(@video.created_at) %> ago by <%= link_to @video.user.username, @video.user %></p>
		</div>
		<div class="video-player">
			<div class="video-player-background">
				<iframe title='YouTube video player' width='610' height='380' src='http://www.youtube.com/embed/<%= @video.youtube_id %>?wmode=opaque' frameborder='0' allowfullscreen></iframe>
				<% unless @video.description.empty? %>
					<p class="video-description"><%=raw @video.description.gsub(/\n/, '<br/>') %></p>
				<% end %>
				<div class="video-social">
					<% if signed_in? %>
						<div id="video-votes-ajax" class="floatleft">
						<% if current_user.vote?(@video.id) %>
							<%= render '/videos/unvote' %>
						<% else %>
							<%= render '/videos/vote' %>
						<% end %>
						</div>
					<% else %>
						<div id="video-votes-ajax" class="floatleft">
							<form>
								<input class="btn btn-small" type="button" value="+1" onclick="window.location.href='/signin'">
							</form>
						</div>
					<% end %>
					<%= render '/videos/social' %>
				</div>
			</div>
		</div>
		<div class="video-points-and-comments-container">
			<div class="video-votes-container">
				<div class="video-subheader" id="points-value"><%= pluralize(@video.votes_count, 'point') %></div>
				<% unless @video.votes.empty? %>
					<div class="points-container">
						<% @video.votes.each do |v| %>
							<% v.user.image == nil ? image = "/assets/default-small.png" : image = v.user.image %>
							<a href="<%= user_path(v.user) %>"><img src="<%= image %>" title="<%= v.user.username %>" style="width:39px;" /></a>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div id="comments-container">
			<div class="video-subheader"><%= pluralize(@video.comments.count, 'comment') %></div>
			<%= render :partial => 'videos/comment_item', :collection => @comment_items %>

			<% if signed_in? %>

				<div id="comment-form-container">
					<% current_user.image == nil ? image = "/assets/default-small.png" : image = current_user.image %>
					<img src="<%= image %>" class="floatleft" />
					<%= form_for(@comment, :remote => true) do |f| %>
	    				<%= f.text_field :content, :class => "comment-input" %>
						<%= f.hidden_field "video_id", :value => @video.id %><br />
	    				<%= f.submit "Comment", class: "btn btn-default floatright" %>
					<% end %>
				</div>

			<% else %>
				<%= link_to "Sign in to comment", signin_path %>
			<% end %>

		</div>

		<% if current_user?(@video.user) %>
			<%= link_to "Delete video?", @video, :method => :delete, :confirm => "Are you sure? The video and its votes and comments won't be coming back.", :title => "Delete #{@video.title}", :class => "delete-video" %>
			<%= link_to "Update video?", edit_video_path(@video.id), :title => "Delete #{@video.title}", :class => "delete-video" %>
		<% end %>
	</div>
</div>

<div class="more-from-right-container">
	<div class="more-from-user-container">
		<div class="more-from-user-header"><%= @video.user.username %> <span><%= @video.user.points %></span></div>

		<% unless @user_videos.empty? %>

			<% @user_videos.count.times do |v| %>

				<div class="more-from-user-item">
					<div class="more-from-user-image">
						<a href="<%= video_path(@user_videos[v]) %>"><img src="http://i.ytimg.com/vi/<%= @user_videos[v].youtube_id %>/default.jpg" /></a>
					</div>
					<div class="more-from-video-info">
						<a href="<%= video_path(@user_videos[v]) %>"><%= @user_videos[v].title %></a>
						<p><%= pluralize(@user_videos[v].votes.count, 'point') %></p>
						<p><%= pluralize(@user_videos[v].comments.count, 'comment') %></p>
					</div>
				</div>

			<% end %>

		<% end %>
		
	</div>

</div>

<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
