<div class="left-container">
	<div class="video-main">
		<div class="video-header">
			<p class="name"><%= link_to @video.title, "http://www.youtube.com/watch?v=#{@video.youtube_id}", :target => '_blank' %></p>
			<p class="created-at"><%= time_ago_in_words(@video.created_at) %> ago by <%= link_to @video.user.username, @video.user %></p>
		</div>
		<div class="video-player">
			<div class="video-player-background">
				<iframe title='YouTube video player' width='560' height='315' src='http://www.youtube.com/embed/<%= @video.youtube_id %>?wmode=opaque' frameborder='0' allowfullscreen></iframe>
			</div>
		
			<div class="video-points-and-comments-container">
				<div class="video-votes-container">
					<div class="video-votes-value" id="vote-ajax-<%= @video.id %>"><%= @video.votes_count %><span> Points</span></div>

					<% if signed_in? %>


						<% if current_user.vote?(@video.id) %>
							<div class="vote-button-check">
								<span>+1</span>
							</div>
						<% else %>
							<div id="vote-button-<%= @video.id %>">
								<%= form_for(@vote, :remote => true) do |f| %>
									<%= f.hidden_field "video_id", :value => @video.id %>
									<%= f.submit "+1", class: "btn btn-small" %>
								<% end %>
							</div>
						<% end %>
					<% else %>
						<form>
							<input class="btn btn-small" type="button" value="+1" onclick="window.location.href='/signin'"> 
						</form>
					<% end %>

				</div>
				<div class="video-comments-count-container"><%= @video.comments.count %> comments</div>

			</div>
		</div>

		<% unless @video.description.empty? %>
			<p class="video-description"><%=raw @video.description.gsub(/\n/, '<br/>') %></p>
		<% end %>

		<% unless @video.votes.empty? %>
			<div class="points-container">
				<% @video.votes.count.times do |n| %>
					<p><a href="<%= user_path(@video.votes[n].user.id) %>"><%= @video.votes[n].user.username %></a> gave a point</p>
				<% end %>
			</div>
		<% end %>

		<div id="comments-container">
			<%= render :partial => 'videos/comment_item', :collection => @comment_items %>

			<% if signed_in? %>

				<div id="comment-form-container">
					<%= form_for(@comment, :remote => true) do |f| %>
	    				<%= f.text_field :content, :class => "comment-input" %>
						<%= f.hidden_field "video_id", :value => @video.id %>
	    				<%= f.submit "Comment", class: "btn btn-primary" %>
					<% end %>
				</div>

			<% else %>

				<p>Sign in to comment</p>

			<% end %>

		</div>

		<% if current_user?(@video.user) %>
			<%= link_to "Delete video?", @video, :method => :delete, :confirm => "Are you sure? The video and its votes and comments won't be coming back.", :title => "Delete #{@video.title}", :class => "delete-video" %>
			<%= link_to "Update video?", edit_video_path(@video.id), :title => "Delete #{@video.title}", :class => "delete-video" %>
		<% end %>
	</div>
</div>




<% video_array = @video.user.videos.collect { |v| v.youtube_id } %>

<div class="more-from-right-container">
	<div class="more-from-user-container">
		<div class="more-from-user-header"><%= @video.user.username %> <span><%= @video.user.points %></span></div>

		<% unless @video.user.videos.empty? %>

			<% @video.user.videos.count.times do |v| %>

				<div class="more-from-user-item">
					<div class="more-from-user-image">
						<a href="<%= video_path(@video.user.videos[v].id) %>"><img src="http://i.ytimg.com/vi/<%= @video.user.videos[v].youtube_id %>/default.jpg" width="90px"/></a>
					</div>
					<div class="more-from-video-info">
						<a href="<%= video_path(@video.user.videos[v].id) %>"><%= @video.user.videos[v].title %></a>
						<p><span><%= @video.user.videos[v].votes.count %></span> votes</p>
						<p><span><%= @video.user.videos[v].comments.count %></span> comments</p>
					</div>
				</div>

			<% end %>

		<% end %>
		
	</div>

</div>


