<% feed_item.user.image == nil ? image = "/assets/default-small.png" : image = feed_item.user.image %>
<% if signed_in? %>
	<% current_user.vote?(feed_item.id) ? css_class = "voted" : css_class = "" %>
<% end %>
<div class="feed-container" id="container-<%= feed_item.id %>">
  <div class="image">
	<a class="user" href="<%= user_path(feed_item.user) %>"><img src="<%= image %>" class="image-round-3"/></a>
  </div>
  <div class="feed-inner">
	  <div class="user-container">
	    <a class="user" href="<%= user_path(feed_item.user) %>"><%= feed_item.user.username %></a>
		<span class="video-user-points"><%= feed_item.user.points %></span>
		<span class="time"><div class="clock"></div><%= time_ago_in_words(feed_item.created_at) %> ago</span>
	  </div>
	  <div class="media-container <%= css_class %>" id="media-container-<%= feed_item.id %>">
	  	<div class="cover floatleft" id="cover-<%= feed_item.id %>">
	  		<div class="play" id="play"></div>
	  	  <img class="thumb" src="http://i2.ytimg.com/vi/<%= feed_item.youtube_id %>/mqdefault.jpg"/>
	  	</div>
	  	<div class="info floatleft" id="info-<%= feed_item.id %>">
	  		<a class="title" id="title-<%= feed_item.id %>" href="<%= video_path(feed_item) %>"><%= feed_item.title %></a>
				<% unless feed_item.artist.nil? %>
					 <a class="title artist" href="<%= artist_path(feed_item.artist) %>"><%= feed_item.artist.name %></a>
				<% end %>	
	  		<p id="description-<%= feed_item.id %>"><%= feed_item.description %></p>
	  		<% if signed_in? && current_user.vote?(feed_item.id) %>
					<div class="actions voted" id="actions-<%= feed_item.id %>">
		  		  <span class="like"><div class="sunglasses"></div><span>Liked</span></span>
		  		</div>
		  	<% elsif signed_in? %>
		  		<div class="actions" id="actions-<%= feed_item.id %>">
		  		  <span class="like" id="vote-<%= feed_item.id %>"><div class="sunglasses"></div><span>Like</span></span>
		  		</div>
		  	<% else %>
		  		<div class="actions">
		  		  <span class="like" onclick="window.location='<%= signin_path %>'; return false;"><div class="sunglasses"></div><span>Like</span></span>
		  		</div>
		  	<% end %>
	    </div>
	  </div>
	  <div class="meta">
	  	<span><div class="sunglasses <%= css_class %>" id="sunglasses-<%= feed_item.id %>"></div><a href="javascript:;" id="points-value-<%= feed_item.id %>"><%= pluralize(feed_item.votes_count, 'person') %> liked this</a></span>
	  	<span class="dot">&#8901;</span>
	  	<span><div class="comment"></div><span id="comment-<%= feed_item.id %>"><%= pluralize(feed_item.comments.count, 'comment') %></span></span>
	  </div>
	  
		  <div class="faces" id="faces-<%= feed_item.id %>">
		  	<% unless feed_item.votes.empty? %>
		  	<% feed_item.votes.each do |u| %>
					<% u.user.image == nil ? image = "/assets/default-small.png" : image = u.user.image %>
					<a href="<%= user_path(u.user) %>"><img src="<%= image %>" title="<%= u.user.username %>" class="image-round-3"/></a>
				<% end %>
				<% end %>
		  </div>
	  
		  <div id="comments-container">
				<%= render :partial => 'videos/comment_item', :collection => feed_item.comments %>
				<% if signed_in? %>
			    <div id="comment-form-container-<%= feed_item.id %>" class="comment-form-container">
					<% current_user.image == nil ? image = "/assets/default-small.png" : image = current_user.image %>
				  <img src="<%= image %>" class="floatleft" />
						<%= form_for(@comment, :remote => true, :html => {:id => "form-#{feed_item.id}" }) do |f| %>
				    	<%= f.text_field :content, :class => "comment-input", :id => "input-#{feed_item.id}", :placeholder => "Write a comment", :maxlength => "255", :style => "width: 518px;" %>
						  <%= f.hidden_field "video_id", :value => feed_item.id %><br />
						<% end %>
					</div>
			  <% else %>
			    <a class="signin-wrapper" href="<%= signin_path %>"><div class="signin"></div>Sign in to comment</a>
			  <% end %>
		  </div>
		
		<script type="text/javascript">
			$("document").ready( function() {
				var feed_item_id = "<%= feed_item.id %>";
				var youtube_id = "<%= feed_item.youtube_id %>";

				//Add and delete comments on feed
				addCommentOnFeed(feed_item_id);
				deleteComment();

				//Play song once cover image is clicked
				playFeedTrack(youtube_id,feed_item_id);
				$("#points-value-"+feed_item_id).click(function() {
					$("#faces-"+feed_item_id).fadeToggle(150);
				});

				//Truncate long titles
				var title = "#title-"+feed_item_id;
				var description = "#description-"+feed_item_id;
				truncateText(title,60);
				truncateText(description,50);

				//Disable empty comment input
				$input = $(".comment-input");
				if ($input.val() == "") {
					$(".button").attr('disabled', 'disabled'); //REDO
				};

				//Vote
				<% if signed_in? %>
					var current_user_id = "<%= current_user.id %>";
					$("#vote-"+feed_item_id).click(function() {
						addVoteOnMedia(feed_item_id,current_user_id, true);
					});
				<% end %>

			});
		</script>

	</div>
</div>