<div class="video-container" id="container-<%= feed_item.id %>">
	<div class="vote-container">
		<p class="vote-points" id="vote-ajax-<%= feed_item.id %>"><%= feed_item.votes_count %></p>
		<span class="vote-points-label">

			<% if feed_item.votes_count == 1 %>
				Point
			<% else %>
				Points
			<% end %>

		</span>
		
	</div>
	<div class="video-container-inner">
		<a href="<%= video_path(feed_item.id) %>"><img class="thumb" src="http://i.ytimg.com/vi/<%= feed_item.youtube_id %>/default.jpg"/></a>
		<div class="video-info-container">
			<%= link_to feed_item.title, feed_item, :id => "video-title-#{feed_item.id}", :title => "#{feed_item.title}" %>

			<script type="text/javascript">
				var shortText = $("#video-title-<%= feed_item.id %>").text()
				if (shortText.length > 45) {
					var shortText = $("#video-title-<%= feed_item.id %>").text().trim().substring(0,42)+"..."
				}
				else {
					var shortText = $("#video-title-<%= feed_item.id %>").text()
				}
				$("#video-title-<%= feed_item.id %>").html(shortText);
			</script>

			<div class="video-user-container">
				<% feed_item.user.image == nil ? image = "/assets/default-small.png" : image = feed_item.user.image %>
				<a class="user" href="<%= user_path(feed_item.user.id) %>"><img src="<%= image %>"/><%= feed_item.user.username %></a>
				<span class="video-user-points"><%= feed_item.user.points %></span>
				<span style="font-size: 10px;"><%= time_ago_in_words(feed_item.created_at) %> ago</span>
<!--
				<% unless current_user.nil? %>

					<% if current_user.vote?(feed_item.id) %>
					
						<div class="vote-button" id="vote-button-<%= feed_item.id %>">
							<div id="delete-holder-<%= feed_item.id %>"><%= link_to "Remove point...", vote_path(current_user.votes.find_by_video_id(feed_item.id)), :method => :delete, :remote => true, :id => "delete-vote-input-#{feed_item.id}" %></div>
						</div>

					<% else %>
						<div class="vote-button" id="vote-button-<%= feed_item.id %>">
						<%= form_for(@vote, :remote => true) do |f| %>
							<%= f.hidden_field "video_id", :value => feed_item.id %>
							<%= f.submit "+1", :class => "btn btn-small", :id => "vote-input-#{feed_item.id}" %>
						<% end %>	

						</div>

					<% end %>

				<% else %>

					<form>
						<input class="btn btn-small" type="button" value="+1" onclick="window.location.href='/signin'"> 
					</form>

				<% end %>

				-->
			</div>
			<div class="comments-faces">
				<div class="left">
					<span class="comment"><%= feed_item.comments.count %></span>
					<% unless current_user.nil? %>
						<% if current_user.vote?(feed_item.id) %>
							<div><span class="heart voted"><%= feed_item.votes_count %></span></div>
						<% else %>
							<div id="heart-holder-<%= feed_item.id %>">
								<%= form_for(@vote, :remote => true, :html => {:id => "vote_form-#{feed_item.id}"}) do |f| %>
									<!--<span class="heart"><%= feed_item.votes_count %></span>-->
									<%= f.hidden_field "video_id", :value => feed_item.id %>
									<%= link_to '', "javascript:;", :id => "heart-#{feed_item.id}", :class => "heart vote",:onclick=>"$('#vote_form-#{feed_item.id}').submit()" %>
								<% end %>
							</div>
							<div class="count" id="count-<%= feed_item.id %>"><%= feed_item.votes_count %></div>
						<% end %>
					<% else %>
						<div><a href="javascript:;" class="heart vote" style="margin-top: 2px;" onclick="window.location.href='<%= signin_path %>'"></a></div>
						<div class="count" id="count-<%= feed_item.id %>"><%= feed_item.votes_count %></div>
					<% end %>
				</div>
				<div class="middle">
				<% feed_item.votes.each do |u| %>
					<% u.user.image == nil ? image = "/assets/default-small.png" : image = u.user.image %>
					<a href="<%= user_path(u.user.id) %>"><img src="<%= image %>" /></a>
				<% end %>
				</div>
				<div class="right" id="right-<%= feed_item.id %>">
					<a id="button-<%= feed_item.id %>" href="javascript:;" onclick="return false;"><span id="watch-<%= feed_item.id %>">watch</span></a>
				</div>
			</div>
		</div>
	</div>

	<div class="youtube-container" id="youtube-container-<%= feed_item.id %>" style="display: none">Video Placeholder</div>

	<script>
	$("#button-<%= feed_item.id %>").click(function () {
    	var youtubeString = "<iframe title='YouTube video player' width='660' height='370' src='http://www.youtube.com/embed/<%= feed_item.youtube_id %>?wmode=opaque' frameborder='0' allowfullscreen></iframe>";
    	var text = $("#watch-<%= feed_item.id %>").text() == 'watch' ? 'close' : 'watch';
		$("#youtube-container-<%= feed_item.id %>").toggle();
    	$("#watch-<%= feed_item.id %>").html(text);
    	$("#youtube-container-<%= feed_item.id %>").html(youtubeString);
	});

	$("#heart-<%= feed_item.id %>").click(function () {
		$("#heart-<%= feed_item.id %>").removeClass("vote").addClass("loading");
	});

	$("#delete-vote-input-<%= feed_item.id %>").click(function () {
		$("#delete-vote-input-<%= feed_item.id %>").text("")
		$("#delete-holder-<%= feed_item.id %>").addClass("loading");
	});

	$("#container-<%= feed_item.id %>").hover(function () {
		$("#right-<%= feed_item.id %>").toggle();
	});


	</script>

</div>
