<div class="video-container">
	<div class="vote-container">
		<p class="vote-points" id="vote-ajax-<%= feed_item.id %>"><%= feed_item.votes_count %></p>
		<span class="vote-points-label">

			<% if feed_item.votes_count == 1 %>
				Point
			<% else %>
				Points
			<% end %>

		</span>
		
	</div>
	<div class="video-container-inner">
		<a href="<%= video_path(feed_item.id) %>"><img src="http://i.ytimg.com/vi/<%= feed_item.youtube_id %>/default.jpg"/></a>
		<div class="video-info-container">
			<%= link_to feed_item.title, feed_item, :id => "video-title-#{feed_item.id}", :title => "#{feed_item.title}" %>

			<script type="text/javascript">
				var shortText = $("#video-title-<%= feed_item.id %>").text()
				if (shortText.length > 45) {
					var shortText = $("#video-title-<%= feed_item.id %>").text().trim().substring(0,42)+"..."
				}
				else {
					var shortText = $("#video-title-<%= feed_item.id %>").text()
				}
				$("#video-title-<%= feed_item.id %>").html(shortText);


				//var shortText = $("#video-title-<%= feed_item.id %>").text()    // get the text within the div
    			//.trim()    // remove leading and trailing spaces
    			//.substring(0, 45) // get first 45 characters
    			//if shortText.length >   // get first 600 characters
    			//.split(" ") // separate characters into an array of words
    			//.slice(0, -1)    // remove the last full or partial word
    			//.join(" ") + "..."; // combine into a single string and append "..."
    			//$("#video-title-<%= feed_item.id %>").html(shortText);
			</script>

			<div class="video-user-container">
				<div>
				<%= link_to feed_item.user.username, feed_item.user %>
				<span class="video-user-points"><%= feed_item.user.points %></span>
			</div>

				<% unless current_user.nil? %>

					<% if current_user.vote?(feed_item.id) %>
					
						<div class="vote-button" id="vote-button-<%= feed_item.id %>">
							<div><%= link_to "Remove point...", vote_path(current_user.votes.find_by_video_id(feed_item.id)), :method => :delete, :remote => true, :id => 'vote-input' %></div>
						</div>

					<% else %>
						<div class="vote-button" id="vote-button-<%= feed_item.id %>">
						<%= form_for(@vote, :remote => true) do |f| %>
							<%= f.hidden_field "video_id", :value => feed_item.id %>
							<%= f.submit "+1", :class => "btn btn-small", :id => 'vote-input' %>
						<% end %>
						</div>

					<% end %>

				<% else %>

					<form>
						<input class="btn btn-small" type="button" value="+1" onclick="window.location.href='/signin'"> 
					</form>

				<% end %>

				<div class="video-comments-and-time">
					<span><%= time_ago_in_words(feed_item.created_at) %> ago</span>
					<span class="comments-icon"><%= feed_item.comments.count %> comments</span>
					<a href="javascript:;" onclick="jquery_stuff(); return false;" class="watch-toggle" id="button-<%= feed_item.id %>">Expand</a>
				</div>
			</div>
		</div>
	</div>

	<!--
	<div class="youtube-container" id="youtube-container-<%= feed_item.id %>">Gooz</div>
	<script>
    $("#youtube-container-<%= feed_item.id %>").click(function () {
    	var youtubeString = "<iframe title='YouTube video player' width='560' height='315' src='http://www.youtube.com/embed/<%= feed_item.youtube_id %>' frameborder='0' allowfullscreen></iframe>";
    	$("#youtube-container-<%= feed_item.id %>").html(youtubeString);
    });
	</script>
-->
	<!--<iframe title="YouTube video player" width="560" height="315" src="http://www.youtube.com/embed/<%= feed_item.youtube_id %>" frameborder="0" allowfullscreen></iframe> -->

	<div class="youtube-container" id="youtube-container-<%= feed_item.id %>" style="display: none">Video Placeholder</div>

	<script>
	$("#button-<%= feed_item.id %>").click(function () {
		$("#youtube-container-<%= feed_item.id %>").toggle();
		var text = $(this).text() == 'Expand' ? 'Collapse' : 'Expand';
	    	$(this).text(text)
	});

    $("#button-<%= feed_item.id %>").click(function () {
    	var youtubeString = "<iframe title='YouTube video player' width='660' height='370' src='http://www.youtube.com/embed/<%= feed_item.youtube_id %>?wmode=opaque' frameborder='0' allowfullscreen></iframe>";
    	$("#youtube-container-<%= feed_item.id %>").html(youtubeString);
    });

    $("#vote-input-<%= feed_item.id %>").click(function () {
    	$(this).hide();
    });

	</script>

</div>
