<script type="text/javascript">
	$("document").ready( function() {
		xhr_get("<%= escape_javascript(topdayjson_path) %>");
	})
</script>

<% if signed_in? %>
<div class="left-container">

	<div class="feed-options">
		<div class="floatleft">
			<%= link_to raw("<div class='feed'></div>Feed"), root_path, :remote => true, :id => 'feed' %>
			<%= link_to raw("<div class='new'></div>New"), videos_path, :remote => true, :id => 'recent' %>
			<%= link_to raw("<div class='people'></div>People"), users_path, :remote => true, :id => 'people' %>
		</div>
		<div class="loading floatleft" style="display:none;" id="loading-feed"></div>
		<div class="floatright">
			<div class="top"></div>Top:
			<%= link_to "Week", week_path, :remote => true, :id => 'week' %>
	    <%= link_to "Month", month_path, :remote => true, :id => 'month' %>
	    <%= link_to "All", alltime_path, :remote => true, :id => 'alltime' %>
		</div>
<!--
			<%= link_to "Day", day_path, :remote => true, :id => 'day' %>
-->
	</div>
	<%= render 'shared/search' %>
	<% unless current_user.feed.empty? %>
		<script>
		  $(document).ready(function(){
		    pagelessHTML = "<%= escape_javascript(pageless(10, @path)) %>";
		    elemIds = {'feed': '#feed', 'recent': '#recent', 'day': '#day', 'week': '#week', 'month': '#month', 'alltime': '#alltime'};
		    loadSongs(elemIds, pagelessHTML, "<%= @feed_items.total_pages %>");
		  });
		</script>

			<div id="results">
			  <%= render 'shared/feed' %> <!-- Render first count of feed items with render. Remaining are sent from controller
	                                       after Pageless requests asynchronously -->
		      <%= will_paginate @feed_items %> <!-- Keep to show pagination if JS is disabled. Requesting ?page=2 doesn't 
		                                            work though as 'sort' template doesn't render to prevent multiple template requests once Pageless fires.  -->
		      <%= pageless(@feed_items.total_pages, @path) %> <!-- First param is total number of pages sent back by will_paginate gem, which should descrease in count.
		                                                           Second param is path to request more data.   -->
			</div>
	<% else %>
		<div style="padding: 30px;font-size: 20px;">You're not following anyone. Check out some <%= link_to "suggested people", users_path %>.</div>
	<% end %>
</div>

<div class="right-container">
	<% unless current_user.videos.first.nil? %>
		<div class="current-video-container">
			<h3>Your Current Track</h3>
			<div class="meta">
				<div class="points"><%= pluralize(current_user.current_video.votes_count, "point") %>, <%= pluralize(current_user.current_video.comments.count, "comment") %></div>
				<div class="active">Active: <%= time_ago_in_words(current_user.current_video.created_at) %></div>
			</div>

			<div class="image-title">
				<div class="image floatleft">
					<a href="<%= video_path(current_user.current_video) %>"><img src="http://i2.ytimg.com/vi/<%= current_user.current_video.youtube_id %>/mqdefault.jpg" /></a>
				</div>
				<div class="title floatleft">
					<a href="<%= video_path(current_user.current_video) %>" class="video-title" id="video-title"><%= current_user.current_video.title %></a>
					<a href="<%= edit_video_path(current_user.current_video) %>" class="edit-wrapper"><div class="edit"></div>Edit</a>
				</div>
			</div>
		</div>
	<% end %>

	<div class="stats-container">
		<h3>Your Stats</h3>
		<div class="stats">
			<a href="<%= user_path(current_user) %>"><div class="sunglasses"></div><%= pluralize(current_user.points, "point") %></a>
			<a href="<%= user_path(current_user) %>"><div class="tracks"></div><%= pluralize(current_user.videos.count, "track") %></a>
			<a href="<%= followers_user_path(current_user) %>"><div class="followers"></div><%= pluralize(current_user.followers.count, "follower") %></a>
			<a href="<%= following_user_path(current_user) %>"><div class="following"></div><%= current_user.following.count %> following</a>
		</div>
	</div>

	<div class="more-from-user-container" id="items-trending">
		<h3>Trending</h3>
		<div id="loading"></div>
	</div>

	<% unless current_user.authentications.count == 2 %>
		<div class="social">
			<p>Paint the Town is better social</p>
				<% unless current_user.has_facebook?.present? %>
					<a href="#"><div class="facebook"></div>Connect to Facebook</a>
				<% end %>
				<% unless current_user.has_twitter?.present? %>
					<a href="#"><div class="twitter"></div>Connect to Twitter</a>
				<% end %>
				</ul>
		</div>
	<% end %>

</div> <!-- End right container -->

<% else %>
<!-- Hero Container -->
<div id="hero">
	<h1>The hit factory</h1>
	<h2>Share new music with friends. Get points.</h2>
	<%= link_to image_tag("sign-in-facebook.png", :alt => "Paint the Town"), '/auth/facebook' %>
</div>
<!-- End Hero Container -->
<div class="left-container">
	<div class="video-feed-header">Recent Videos</div>
	<div id="results">
		<%= render 'shared/feed' %>
		<%= will_paginate @feed_items %>
		<%= pageless(@feed_items.total_pages, root_path, "#results") %>
	</div>
</div>
<div class="right-container">
	<div class="stats-container" style="height: 100%;">
		<div class="stats-header">How's it work?</div>
		<div>
			<h3>Post a song</h3>
			<p>Share the song that you love with your followers</p>
			<h3>Get points</h3>
			<p>The community may give it points if it's not terrible</p>
			<h3>Post again if...</h3>
			<p>...your song receives two or more points or you wait 24 hours</p>
			<%= link_to "Get started now", signin_path %>
		</div>
	</div>
</div>

<% end %>