<% if signed_in? %>

	<div class="left-container">

		<% unless current_user.following.nil? %>

			<div class="video-feed-header">Videos from your followers</div>
			<%= render 'shared/feed' %>

		<% else %>

			<div>NOT FOLLOWING ANYONE</div>

		<% end %>

	</div>


<div class="right-container">

<% unless current_user.videos.first.nil? %>

	<div class="current-video-container">
		<div class="current-video-header">Your Current Video</div>
		<div class="current-video-image">
			<img src="http://i.ytimg.com/vi/<%= current_user.current_video.youtube_id %>/default.jpg" />
		</div>
		<div class="current-video-title-and-time">
			<h3><%= current_user.current_video.title %></h3>
			<p><%= time_ago_in_words(current_user.current_video.created_at) %></p>
		</div>
		<ul class="current-video-points-comments unstyled">
			<li class="current-video-points"><%= current_user.current_video.votes_count %> points</li>
			<li class="current-video-comments"><%= current_user.current_video.comments.count %> comments</li>
		</ul>
		<div class="current-video-update"><%= link_to "Update video", edit_video_path(current_user.current_video) %></div>
	</div>

<% else %>

No current video

<% end %>


	<div class="stats-container">
		<div class="stats-header">Your Stats</div>
		<ul class="list-stats unstyled">
			<li class="list-points"><a href="<%= user_path(current_user) %>"><%= current_user.points %> total points</a></li>
			<li class="list-followers"><a href="<%= followers_user_path(current_user) %>"><%= current_user.followers.count %> followers</a></li>
			<li class="list-following"><a href="<%= following_user_path(current_user) %>"><%= current_user.following.count %> following</a></li>
	</div>

</div>


<% else %>

<div class="left-container">
	<div class="video-feed-header">Top Videos</div>
	<%= render 'shared/feed' %>
</div>

<% end %>