<% if signed_in? %>

<div class="left-container">

<div class="video-feed-header">Video from your followers</div>
<%= render 'shared/feed' %>

</div>


<div class="right-container">
	<div class="current-video-container">
		<div class="current-video-header">Your Current Video</div>
	</div>


	<div class="stats-container">
		<div class="stats-header">Your Stats</div>
		<ul class="list-stats unstyled">
			<li class="list-points"><a href="<%= user_path(current_user) %>"><%= current_user.points %> total points</a></li>
			<li class="list-followers"><a href="<%= followers_user_path(current_user) %>"><%= current_user.followers.count %> followers</a></li>
			<li class="list-following"><a href="<%= following_user_path(current_user) %>"><%= current_user.following.count %> following</a></li>
	</div>

</div>


<% else %>

Gooz! You have no videos! Figure out what to do for the home page if the user isn't signed in or isn't following anyone. Refactor so that each video is using :collection

<p>VIDEO INDEX</p>

<ul>
	<% @videos.each do |v| %>
	<li>
		<%= link_to v.title, v %>
		<%= v.description %>
		- <%= link_to v.user.first_name, v.user %>
	</li>

	<% end %>
</ul>


<% end %>