<% if signed_in? %>

	<div class="left-container">

		<% unless current_user.feed.empty? %>

			<div class="video-feed-header">Videos from your followers</div>
				<div id="results">
					<%= render 'shared/feed' %>
					<%= will_paginate @feed_items %>
					<%= pageless(@feed_items.total_pages, root_path, "#results") %>
				</div>
		<% else %>

			<div>NOT FOLLOWING ANYONE</div>

		<% end %>

	</div>


<div class="right-container fixed floatright">

	<% unless current_user.videos.first.nil? %>

		<div class="current-video-container">
			<div class="current-video-header">Your Current Video</div>
			<div class="current-video-image">
				<a href="<%= video_path(current_user.current_video.id) %>"><img src="http://i.ytimg.com/vi/<%= current_user.current_video.youtube_id %>/default.jpg" /></a>
			</div>
			<div class="current-video-title-and-time">
				<h3><a href="<%= video_path(current_user.current_video.id) %>" id="video-title"><%= current_user.current_video.title %></a></h3>
				<p><%= time_ago_in_words(current_user.current_video.created_at) %></p>
			</div>
			<ul class="current-video-points-comments unstyled">
				<li class="current-video-points"><%= current_user.current_video.votes_count %> points</li>
				<li class="current-video-comments"><%= current_user.current_video.comments.count %> comments</li>
			</ul>
			<div class="current-video-update"><%= link_to "Update video", edit_video_path(current_user.current_video) %></div>
		</div>
		<script type="text/javascript">

				var shortText = $("#video-title").text()
				if (shortText.length > 45) {
					var shortText = $("#video-title").text().trim().substring(0,42)+"..."
				}
				else {
					var shortText = $("#video-title").text()
				}
				$("#video-title").html(shortText);

			</script>

	<% else %>

		<div style="margin-bottom: 10px;"><%= link_to "Post your first video", post_path %></div>

	<% end %>


	<div class="stats-container" style="height: 148px;">
		<div class="stats-header">Your Stats</div>
		<ul class="list-stats unstyled">
			<li class="list-points"><a href="<%= user_path(current_user) %>">
				<% if current_user.points == 0 %>
					0 total points
				<% else %>
					<%= current_user.points %> total points
				<% end %>
				</a></li>
			<li class="list-followers"><a href="<%= followers_user_path(current_user) %>"><%= current_user.followers.count %> followers</a></li>
			<li class="list-following"><a href="<%= following_user_path(current_user) %>"><%= current_user.following.count %> following</a></li>
		</ul>
	</div>

	<% unless current_user.authentications.count == 2 %>

		<div class="stats-container" style="height:100%; margin-top: 20px; ">
			<div>
				<p><i>Paint the Town is better social</i></p>
				<ul class="connect unstyled">
					<% unless current_user.has_facebook?.present? %>
						<li class="facebook"><a href="/auth/facebook">Connect to Facebook</a></li>
					<% end %>
					<% unless current_user.has_twitter?.present? %>
						<li class="twitter"><a href="/auth/twitter">Connect to Twitter</a></li>
					<% end %>
				</ul>
			</div>
		</div>

	<% end %>

</div>


<% else %>

<!-- Hero Container -->
<div id="hero">
	<h1>The watch more, share less video app</h1>
	<h2>Share videos when your followers decide</h2>
	<%= link_to image_tag("sign-in-facebook.png", :alt => "Paint the Town"), '/auth/facebook' %>
</div>
<!-- End Hero Container -->

<div class="left-container">
	<div class="video-feed-header">Recent Videos</div>
	<div id="results">
		<%= render 'shared/feed' %>
		<%= will_paginate @feed_items %>
		<%= pageless(@feed_items.total_pages, root_path, "#results") %>
	</div>
</div>

<div class="right-container">
	<div class="stats-container" style="height: 100%;">
		<div class="stats-header">What is it?</div>
		<div>
			<h3>Post a video</h3>
			<p>Share the video that you love with your followers</p>
			<h3>Get points</h3>
			<p>The community may give it points if it's not terrible</p>
			<h3>Post again if...</h3>
			<p>...your video receives two or more points or you wait 24 hours</p>
			<%= link_to "Get started now", signin_path %>
		</div>
	</div>

</div>

<% end %>