<% logo = image_tag("logo-2.png", :alt => "Paint the Town", :class => "logo") %>

<nav>
<div id="nav-wrapper">
	<div class="nav-container">
		<%= link_to logo, root_path %>
		
		<% if signed_in? %>
			<% if current_user.admin? %><span style="color: #fff">ADMIN</span>
			<% end %>

			<ul class="nav nav-right">
				<li><%= link_to "Post", post_path %></li>
				<li><%= link_to "Videos", videos_path %></li>
				<li><%= link_to "Users", users_path %></li>
				<li><%= link_to current_user.first_name, current_user %></li>
				<li><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
				<li><%= link_to "Sign Out", signout_path %></li>
			</ul>

		<% else %>
			<ul class="nav nav-right">
				<li><%= link_to "Sign Up", signup_path %></li>
				<li><%= link_to "Sign In", signin_path %></li>
			</ul>

		<% end %>
	</div>
</div>
</nav>