<!DOCTYPE html>
<html>
<head>
  <title>Paint the Town</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ga' %>
  <%= yield :head %>
</head>
<body class="<%= @black_page ? 'body-black' : ''%>">
	<%= render 'layouts/fb' %>
	<%= render 'layouts/header' %>
	<%= yield :hero %>
	<div class="container">

		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>

		<%= yield %>

	</div>
	<%= render 'layouts/footer' unless request.fullpath == signup_path || request.fullpath == signin_path %>
	<script type="text/javascript">
	$('document').ready(function() {
		$close = $(".alert a");
		$close.click( function() {
		  $(".alert").fadeOut();
		});
	});
	</script>
</body>
</html>
