<!DOCTYPE html>
<html>
<head>
  <title>Paint the Town</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ga' %>
  <%= yield :head %>
</head>
<body class="<%= @black_page ? 'body-black' : ''%>">
	<%= render 'layouts/fb' %>
	<%= render 'layouts/header' %>
	<%= yield :hero %>
	<div class="container">

		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>

		<%= yield %>

	</div>

	<%= render 'layouts/footer' unless request.fullpath == signup_path || request.fullpath == signin_path %>
	<script type="text/javascript">

	<% signed_in? ? path = playlist_path : path = playlist_signed_out_path  %>
	var field = new Field(0); //Track playlist index
	var playState = new Field("stopped"); //Set default to paused play state
	var youtubeStateId = new Field(0); //Set default to 0
	var results = $.getValues("<%= escape_javascript(path) %>");

	var tracks = [];
	$.each(results, function (i,item) {
	  tracks.push(item.youtube_id);
	});

	function onytplayerStateChange(newState) {
	  if (newState == 0) {
	    field.setValue(field.getValue() + 1);
	    loadNewVideo(tracks[field.getValue()], field.getValue());
	  }
	  if (newState == 1 && playState.getValue() != "playing") {
			playState.setValue("playing");
		}
		if (newState == 2 && playState.getValue() != "paused") {
			playState.setValue("paused");
		}
	}

	$('document').ready(function() {
		$close = $(".alert a");
		$close.click( function() {
		  $(".alert").fadeOut();
		});

		$('#next').click( function() {
	    field.setValue(field.getValue() + 1);
	    $r = field.getValue();
	    loadNewVideo(tracks[field.getValue()], $r);
	  });
	  $('#back').click( function() {
	    field.setValue(field.getValue() - 1);
	    $r = field.getValue();
	    loadNewVideo(tracks[field.getValue()], $r);
	  });
		initialize(field.getValue(), tracks[field.getValue()]);
		youtubeStateId.setValue(tracks[field.getValue()]);
	});
	</script>
</body>
</html>
